body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #1F8A70;
    color: white;

}


.navbar {
    background-color: rgb(239, 233, 233);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 200px;
    height: 100px;
    margin: 5px;
}

.watermark1 {
    justify-content: space-between;
    padding: 2% 2% 2% 2%;
    border-radius: 10px 10px 10px 10px;
}

.watermark {
    width: 40px;
    margin: 0px 10px 0px 10px;
    height: 30px;
    opacity: 0.5;
}

.watermark2 {
    width: 50px;
    margin: 0px 10px 0px 10px;
    height: 40px;
    opacity: 0.5;
}

.anch {
    text-decoration: none;

}

.watermark:hover {
    opacity: 1;
}

.watermark2:hover {
    opacity: 1;
}

.nav {
    display: block;
    align-items: flex-end;
    margin: 5px;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: large;
    padding: 0.2em 1em 0.2em 1em;
}

.nav-link:hover {
    text-decoration: underline;
}

.container {
    border: 2px solid black;
    border-radius: 5px;
    float: right;
    padding: 0rem 2rem 2rem 2rem;
    margin: 2rem;
    box-shadow: 8px 8px 5px white;
    font-size: 1.2rem;
}

.form-title {
    font-weight: 100;
}

.input {
    width: 86%;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 0.9rem;
    margin-top: 0.2rem;
}

.radio {
    margin-bottom: 0.9rem;
    height: 20px;
    width: 20px;
    vertical-align:baseline;
    border: none;
}

.weight {
    margin-bottom: 2rem;
}

.submit {
    display: block;
    margin: auto;
    padding: 0.8rem;
    width: 50%;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
}

.submit:hover {
    background-color: limegreen;
    border: none;
    color: white;
}