<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beginner</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body class="bg-dark text-white">
    <h1 class="text-center mt-3">Beginner</h1>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="../static/images/tpose.jpg" alt="Tpose" class="img-fluid"
                    style="height: 500px; width: 500px;">
                <h2>T</h2>
                <button class="btn btn-primary btn-block">Get Knowledge</button>
            </div>
            <div class="col-4">
                <img src="../static/images/treepose.jpg" alt="Treepose" class="img-fluid"
                    style="height: 500px; width: 500px;">
                <h2>Tree</h2>
                <button class="btn btn-primary btn-block">Get Knowledge</button>
            </div>
            <div class="col-4">
                <img src="../static/images/warrior2.jpg" alt="Warrior2pose" class="img-fluid"
                    style="height: 500px; width: 500px;">
                <h2>Warrior2</h2>
                <button class="btn btn-primary btn-block">Get Knowledge</button>
            </div>
        </div>
    </div>
</body>

</html>