<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <title>Signup</title>
  <link rel="stylesheet" href="../static/css/nav.css">
  <link rel="icon" href="../static/images/Monk-logo.png">
</head>

<body class="bg-dark text-white">
  <nav class="navbar">
    <a href="{% url 'blog' %}" class="anch">
        <img class="logo" src="../static/images/My project-2.png" alt="Monk-logo"></a>
    <div class="watermark1">
        <a href="{% url 'blog' %}" class="anch">
            <!-- <img src="../static/images/watermark/watermark (1).png" class="watermark" alt="">
            <img src="../static/images/watermark/watermark (2).png" class="watermark" alt="">
            <img src="../static/images/watermark/watermark (3).png" class="watermark" alt="">
            <img src="../static/images/watermark/watermark (4).png" class="watermark" alt=""> -->
            <img src="../static/images/watermark/watermark (6).png" class="watermark" alt="">
            <img src="../static/images/watermark/watermark (7).png" class="watermark" alt="">
            <img src="../static/images/watermark/watermark (8).png" class="watermark" alt="">
            <img src="../static/images/watermark/watermark (5).png" class="watermark2" alt="">
            <img src="../static/images/watermark/watermark (9).png" class="watermark" alt="">
            <img src="../static/images/watermark/watermark (10).png" class="watermark" alt="">
            <img src="../static/images/watermark/watermark (11).png" class="watermark" alt="">
            <!-- <img src="../static/images/watermark/watermark (12).png" class="watermark" alt="">
            <img src="../static/images/watermark/watermark (13).png" class="watermark" alt="">
            <img src="../static/images/watermark/watermark (14).png" class="watermark" alt="">
            <img src="../static/images/watermark/watermark (15).png" class="watermark" alt=""> -->
        </a>
    </div>

    <div class="nav">
        <a class="nav-link" href="{% url 'blog' %}">Home</a>
        <a class="nav-link" href="{% url 'type_of_user' %}">SignUp</a> <a href="{% url 'type_of_user' %}"
            class="nav-link">SignIn</a>
    </div>
</nav>
  <div class="container text-center">
    <div class="row align-items-center">
      <h1 class="display-6 mt-5 mb-5">Type of User</h1>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <img src="../static/images/Monk-logo.png" alt="Monk-logo" class="rounded" height="300px" width="300px" />
        <a href="#" class="link-primary">
          <h5 class="mt-2 display-6">
            <a href="{% url 'user_signin' %}" class="link"><button class="btn btn-primary">User</button></a>
          </h5>
        </a>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <img src="../static/images/Monk-logo.png" alt="Monk-logo" class="rounded" height="300px" width="300px" />
        <a href="#" class="link-primary">
          <h5 class="mt-2 display-6">
            <a href="{% url 'physician_signin' %}" class="link"><button class="btn btn-primary">Physician</button></a>
          </h5>
        </a>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <img src="../static/images/Monk-logo.png" alt="Monk-logo" class="rounded" height="300px" width="300px" />
        <a href="#" class="link-primary">
          <h5 class="mt-2 display-6">
            <a href="{% url 'nutritionist_signin' %}" class="link"><button class="btn btn-primary">Nutritionist</button></a>
          </h5>
        </a>
      </div>
    </div>
  </div>
</body>

</html>